JHekaton/docs/xsd/state.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

 <xs:import namespace="http://schema.omg.org/spec/XMI/2.1" schemaLocation="XMI.xsd"/>

  <xs:element name="Model">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="packagedElement">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="region">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="subvertex" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute ref="ns:type" xmlns:ns="http://schema.omg.org/spec/XMI/2.1"/>
                            <xs:attribute ref="ns:id" xmlns:ns="http://schema.omg.org/spec/XMI/2.1"/>
                            <xs:attribute type="xs:string" name="name" use="optional"/>
                            <xs:attribute type="xs:string" name="kind" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="transition" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute ref="ns:id" xmlns:ns="http://schema.omg.org/spec/XMI/2.1"/>
                            <xs:attribute type="xs:string" name="name" use="optional"/>
                            <xs:attribute type="xs:string" name="target" use="optional"/>
                            <xs:attribute type="xs:string" name="source" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute ref="ns:id" xmlns:ns="http://schema.omg.org/spec/XMI/2.1"/>
                  <xs:attribute type="xs:string" name="name"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute ref="ns:type" xmlns:ns="http://schema.omg.org/spec/XMI/2.1"/>
            <xs:attribute ref="ns:id" xmlns:ns="http://schema.omg.org/spec/XMI/2.1"/>
            <xs:attribute type="xs:string" name="name"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="ns:type" xmlns:ns="http://schema.omg.org/spec/XMI/2.1"/>
      <xs:attribute ref="ns:id" xmlns:ns="http://schema.omg.org/spec/XMI/2.1"/>
      <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
